.ChangelogTitle {
    display: block;
    font-size: 2em;
    border-left: 0.35em solid cornflowerblue;
    border-bottom: 1px solid cornflowerblue;
    padding-left: 0.35em;
}

.ChangelogSection {
    margin-top: 1em;
}

.ChangelogSection ul {
    margin: 0;
    padding-left: 2em;
}

.ChangelogSection ul > li {
    margin: 0.25em 0;
}

.ChangelogPublishDate {

}